@page
@model ToDoWebsite.Pages.homeModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*<style>
    form input,
    form label {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    form label {
        display: inline-block;
        margin: 0 auto;
        padding: 0 0 5px 0;
        top: -33px;
        transition: all 0.5s ease-in-out; /* adding animation */
        z-index: 1;
    }
    form input[type="text"],
    form input[type="password"] {
        font-size: 1.25em;
        padding: 0 0 5px 0;
        margin-bottom: 0.5em;
        z-index: 10;
        border: none;
        border-bottom: 2px solid black;
        background: transparent; /* adding transparency */
    }
    .filled label {
        top: 0;
        font-size: 0.8em;
    }

</style>*@
@*<script>
    $("form input").on("blur input focus", function () {
        var $field = $(this).closest(".field");
        if (this.value) {
            $field.addClass("filled");
        } else {
            $field.removeClass("filled");
        }
    });


    $("form input").on("focus", function () {
        var $field = $(this).closest(".field");
        if (this) {
            $field.addClass("filled");
        } else {
            $field.removeClass("filled");
        }
    });
</script>*@
@if (SignInManager.IsSignedIn(User))
{
    <h1>@Model.Message</h1>
    <div class="container" style="float:left; width:500px;">

        <button style="font-size:10px" id="tog">Close <i class="fa fa-close"></i></button>

        <div class="card " id="thing" style="width:400px">
            <img class="card-img-top" src="~/images/img_avatar1.png" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Welome @UserManager.GetUserName(User)!</h4>
                <p class="card-text">Click here to manage your profile details or reset a passowrd</p>
                <a id="manage" title="Manage" asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary stretched-link">Manage Profile</a>
            </div>
        </div>


    </div>
    <div class="container">
        <button style="font-size:10px" id="tog2">Close <i class="fa fa-close"></i></button>
      
        <div class="card " id="thing2" style="width:400px;">
            <div class="card-header">
                <h2>Export some details to Excel </h2>
            </div>
            <div class="card-body">
                <form asp-page-handler="view" method="post">

                    <div class="form-group">
                        <label for="wsName">Worksheet Name</label>
                        <input type="text" name="wsName" class="form-control" id="wsName" required />
                    </div>
                    <div id="nameandoccp">
                        <label for="add">Add another person</label> <a class="btn btn-secondary" style="font-size:24px; color:cadetblue" id="add" onclick="add();" title="add another name"><i class="fa fa-plus"></i></a>
                        <div class="form-group">
                            <label for="FName1">First Name <span aria-hidden="true">*</span></label>
                            <input type="text" name="FName1" id="FName1" class="form-control" required />

                        </div>

                        <div class="form-group">
                            <label for="Occup1">Occupation <span aria-hidden="true">*</span></label>
                            <input type="text" name="Occup1" class="form-control" id="Occup1" required />
                        </div>
                    </div>
                    <input type="hidden" name="add1" id="add1" value="1" />
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


}